.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('https://media.gcflearnfree.org/content/55e0730c7dd48174331f5164_01_17_2014/whatisacomputer_mac.jpg');
  background-size: cover;
  background-position: center center;
}